<div class="flex flex-row px-4 mt-6 space-x-4 item h-4/5">
  <div class="w-full h-full md:w-3/4 rounded-xl">
    <iframe
      class="w-full h-full rounded-xl"
      src="https://www.youtube.com/embed/tgbNymZ7vqY"
    >
    </iframe>
  </div>
  <div
    class="flex flex-col items-start justify-center w-full h-full p-8 space-y-20 shadow-lg rounded-xl md:w-1/4 xl"
  >
    <h1 class="text-6xl font-black">Interstellar</h1>
    <div class="flex flex-col space-y-4">
      <p class="text-lg font-medium text-blue-500">
        <span class="mr-1 font-bold text-black">Release date:</span>1 May 2008
      </p>
      <p class="text-lg font-medium text-blue-500">
        <span class="mr-1 font-bold text-black">Director:</span>John Favreaue
      </p>
      <p class="text-lg font-medium text-blue-500">
        <span class="mr-1 font-bold text-black">Based on:</span>Iron Man by Stan
        Lee , Larry Heiber , Don Heck
      </p>
      <p class="text-lg font-medium text-blue-500">
        <span class="mr-1 font-bold text-black">Featured song:</span>Driving
        with the top down
      </p>
    </div>
    <div class="flex flex-row items-center justify-around w-full">
      <p>Like</p>
      <p>Dislike</p>
    </div>
  </div>
</div>
